body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0; 
}
#container {
    display: flex;
    margin: auto;
    width: 1260px;
}
main {
    flex-grow: 2;
    display: flex;
}
header {
    flex-grow: 1;
    min-width:250px;
    max-width:250px;
}
aside {
    min-width:300px;
    max-width:300px;
}
#nav-logo {
    width: 32px;
    display: inline;
}
.nav-link {
      text-decoration: none;
}
.link-title {
    margin: 16px 0 16px 0;
    font-size: 18px;
    color: #000000;
    font-weight: 900;
    display: block;
}
.link-title {
    display: block;
}
.nav-link :hover {
    color: rgba(29,161,242,1.00); 
    background: #c4d7ee;
    border-radius: 20px;
}
.material-icons {
    margin-right: 4px;
    font-size: 18px;
    color: #000000;
    font-weight: 900;
}

.link-title span {
    align-content: center;
}
#header-home, #aside-search{
    position: fixed;
    top: 0;
    height:80px;
}
#header-home {
    background: #ffffff;
    border: 1px rgb(133, 133, 133) solid; 
    width: 100%;
    display: block;
}
#acount {
    position: relative;
    top: 100px;
}
#myacount {
    display: flex;
}

#aside-search{
    background: #ffffff;
    width: 100%;
    display: block;
}
#twretar {
    resize: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 98%;
    height: 60px;
    outline:none;
}
#title-feed {
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
}
#header-left {
    position: fixed;
}
.fullheight {
    min-height: 969px;
}
#feed {
    margin-top: 100px;
}
#feed-container {
    margin: 0;
    padding: 0;
    flex-grow: 2;
    border-left: 1px rgb(133, 133, 133) solid;
}
#feed-right{
    margin: 0;
    padding: 0;
    flex-grow: 1;
    border-left: 1px rgb(133, 133, 133) solid;
}
#feed-form{
    display: flex;
    border-bottom: 1px rgb(133, 133, 133) solid;
    padding-bottom: 10px;
    margin-bottom: 10px;;
}
#search-home {
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    min-height: 20px;
    margin-top: 2px;
}
#trendings {
    border-radius: 5px;
    background: #c4bebe52;
    padding: 5px;
    max-width: 200px;
    min-height: 500px;
}
#title-trendings {
    font-size: 12px;
    padding: 0;
    margin-top: 50px;
    border-bottom: rgb(133, 133, 133) solid 1px;
}
#posts {
    display: flex;
    border-bottom: rgb(133, 133, 133) solid 1px;
}
.img-avatar, #img-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
#avatar-current {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    
    display: block;
}

#post-single, #mypost {
    margin-left: 10px;
     width: 100%;
}
#btns-forms {
    display: flex;
}
#btns-left {
    flex-grow: 1;
}
.btns-left{
    width: 25px;
    height: 25px;
    background: #ffffff;
    color: rgba(29,161,242,1.00);
    border-radius: 5px;
}
#btns-right {
    flex-grow: 1;
    display:flex;
    justify-content: flex-end;
    margin-right: 10px;
}
#btn-nav {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgba(29,161,242,1.00);
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
}
#btn-post {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: rgba(29,161,242,1.00);
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
}
#btn-post a {
    color: #FFFFFF;
    text-decoration: none;
}
.post-name-title, .post-name-title-profile {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}
.post-name-title:hover {
    text-decoration: underline;
}
.post-username-title {
    color: #5d6266;
    text-decoration: none;
}

/* Dropup Button */
#dropup {
    color: #000000;
    width: 240px;
    background: #FFFFFF;
    padding: 12px;
    font-size: 12px;
    border: none;
    border-radius: 50px;
}
#dropup-open {
    display: none;
    position: absolute;
    bottom: 80px;
    background-color: #ffffff;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    z-index: 1;
}
#dropup-open a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 50px;
    display: block;
}
#dropup-open a:hover {
      background-color: #ffffff;
}
#acount:hover #dropup-open {
    display: block;
}
#acount:hover #dropup {
    background-color: #dbebf5;
}
.cam-edit-container {
    width: 42px;
    height: 42px;
    margin: auto;
    top: 20%;
    overflow:hidden;
    position:relative;
    border-radius: 50%;
}
.cam-edit-container:hover {
    background: #a0a3a79a;
}
.cam-edit {
    margin: auto;
    top: 20%;
    width: 32px;
    height: 32px;
    overflow:hidden;
    position:relative;
    background-repeat: no-repeat;
    background: url("../img/cam.png");
    background-size: cover;
    border-radius: 50%;
}
.cam-edit input {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0;
    overflow: hidden;
    border-radius: 50%;
}


.box-profile {
    position: relative;
  }
  .field-profile {
      width: 100%;
      height: 50px;
      border: 1px solid rgba(29,161,242,1.00);
      border-radius: 9px;
      margin: 10px 0;
      font-size: 18px;
      padding-left: 5px;
      position: relative;
        z-index: 1;
  }
  .field-profile:focus::placeholder {
      color: transparent;
  }
  .label-profile {
    margin: 10px 0;
    padding-left: 5px;
    width: 100%;
    position: absolute;
    color: rgba(29,161,242,1.00);
    font-size: 18px;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: 0.5s;                
  }
  
  .field-profile:focus + .label-profile{
    font-size: 10px;
    z-index: 1;
    transition: 0.7s;  
  }
  #submit-profile{
      width: 80px;
      height: 30px;
      float: right;
      font-size: 16px;
      background: rgba(29,161,242,1.00);
      color: #FFFFFF;
      text-align: center;
      border: none;
      border-radius: 9px;
      font-weight: bold;
  }
  #h3-edit-profile{
      display: inline;
  }
 .post-details-title, .post-details-title a{
      color: #5d6266;
 }
 .post-details-title a {
    color: rgba(29,161,242,1.00);
    text-decoration: none;
 }
 .post-details-title a:hover {
    text-decoration: underline;
 }
.count-follow a, .post-chronology-title a {
    color: #5d6266;
    text-decoration: none;
 }
 .count-follow a:hover, .post-chronology-title:hover{
    text-decoration: underline;
 }
 .n-follow  {
    color: #000000;
    font-weight: bold;
 }