body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0; 
}
#container {
    display: flex;
    margin: auto;
    width: 1260px;
}
main {
    flex-grow: 2;
    display: flex;
}
header {
    flex-grow: 1;
}
#nav-logo {
    width: 32px;
    display: inline;
}
.nav-link {
      text-decoration: none;
}
.link-title {
    margin: 16px 0 16px 0;
    font-size: 18px;
    color: #000000;
    font-weight: 900;
    display: block;
}
.link-title {
    display: block;
}
.nav-link :hover {
    color: rgba(29,161,242,1.00); 
    background: #c4d7ee;
    border-radius: 20px;
}
.material-icons {
    margin-right: 4px;
    font-size: 18px;
    color: #000000;
    font-weight: 900;
}

.link-title span {
    align-content: center;
}
#header-home, #aside-search{
    position: fixed;
    top: 0;
    height:80px;
}
#header-home {
    background: #ffffff;
    border: 1px rgb(133, 133, 133) solid; 
    width: 100%;
    display: block;
}
#myacount {
    display: flex;
    position: relative;
    top: 100px;
}
#aside-search{
    background: #ffffff;
    width: 100%;
    display: block;
}
#twretar {
    resize: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 98%;
    height: 60px;
    outline:none;
}

#title-feed {
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
}
#header-left {
    position: fixed;
}
.fullheight {
    min-height: 969px;
}
#feed {
    margin-top: 100px;
}
#feed-container {
    margin: 0;
    padding: 0;
    flex-grow: 2;
    border-left: 1px rgb(133, 133, 133) solid;
}
#feed-right{
    margin: 0;
    padding: 0;
    flex-grow: 1;
    border-left: 1px rgb(133, 133, 133) solid;
}
#feed-form{
    display: flex;
    border-bottom: 1px rgb(133, 133, 133) solid;
    padding-bottom: 10px;
    margin-bottom: 10px;;
}
#search-home {
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    min-height: 20px;
    margin-top: 2px;
}
#trendings {
    border-radius: 5px;
    background: #c4bebe52;
    padding: 5px;
    max-width: 200px;
    min-height: 500px;
}
#title-trendings {
    font-size: 12px;
    padding: 0;
    margin-top: 50px;
    border-bottom: rgb(133, 133, 133) solid 1px;
}
#posts {
    display: flex;
    border-bottom: rgb(133, 133, 133) solid 1px;
}
.img-avatar, #img-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
#post-single, #mypost {
    margin-left: 10px;
     width: 100%;
}
#btns-forms {
    display: flex;
}
#btns-left {
    flex-grow: 1;
}
.btns-left{
    width: 25px;
    height: 25px;
    background: #ffffff;
    color: rgba(29,161,242,1.00);
    border-radius: 5px;
}
#btns-right {
    flex-grow: 1;
    display:flex;
    justify-content: flex-end;
    margin-right: 10px;
}
#btn-nav {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgba(29,161,242,1.00);
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
}
#btn-post {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: rgba(29,161,242,1.00);
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
}
.post-name-title {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}
.post-name-title:hover {
    text-decoration: underline;
}
.post-username-title {
    color: #5d6266;
    text-decoration: none;
}
